@import "tailwindcss";
@import "./fonts.css";

@theme {
    --color-royal-blue-50: #eeeeff;
    --color-royal-blue-100: #e0e1ff;
    --color-royal-blue-200: #c7c8fe;
    --color-royal-blue-300: #a5a7fc;
    --color-royal-blue-400: #8184f8;
    --color-royal-blue-500: #6366f1;
    --color-royal-blue-600: #4649e5;
    --color-royal-blue-700: #383bca;
    --color-royal-blue-800: #3032a3;
    --color-royal-blue-900: #2e3081;
    --color-royal-blue-950: #1b1c4b;

    --color-bright-gray-50: #f5f7fa;
    --color-bright-gray-100: #ebeef3;
    --color-bright-gray-200: #d2dae5;
    --color-bright-gray-300: #aab9cf;
    --color-bright-gray-400: #7c94b4;
    --color-bright-gray-500: #5c769b;
    --color-bright-gray-600: #485f81;
    --color-bright-gray-700: #3b4d69;
    --color-bright-gray-800: #344258;
    --color-bright-gray-900: #2d3748;
    --color-bright-gray-950: #1f2532;
  }


  body {
    background-color: #E5E7EB;
    font-family: 'Outfit', sans-serif;
  }




  .mouse {
    width: 40px;
    height: 80px;
    border: 3px solid #333;
    border-radius: 60px;
 }
  .mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
 }
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
   }
 }
